@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


* {
    margin: 0;
}
@font-face {
    font-family: Intro;
    src: url(./font/Intro/Non-commercial/Normal/Intro/OTF/Intro-Trial-BdAlt.otf);
}
@font-face {
    font-family: SanSerif;
    src: url(./font/SansSerifFLF-Demibold.otf);
}

body {
    height: 3000px;
    font-family: 'Poppins', sans-serif;
}


/* Home */
.home {
    padding: 20px;
    height: auto;
    background: linear-gradient(180deg, rgba(216,28,129,1) 0%, rgba(255,0,99,1) 100%);
}
.home .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.home .logo .logoBg {
    /* position: absolute; */
    background-color: #fff;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.home .logo img {
    height: 80px;
}

.home .judul {
    text-align: center;
    margin-top: 20px;
    color: #fff;
}
.home .judul p {
    width: 40%;
    margin-left: 30%;
    margin-top: 10px;
}
.home .tombol {
    text-align: center;
    margin-top: 20px;
    padding-bottom: 20px;
}
.home .tombol .tambah{
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 700;
    margin-right: 5px;
    cursor: pointer;
}
.home .tombol .eksplore {
    height: 40px;
    width: 150px;
    border: #fff solid 1px;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 700;
    background-color: #2d193e;
    color: #fff;
    margin-left: 5px;
    cursor: pointer;
}

/* Slides */
.slideshow{
    position: relative;
    max-width: 70%;
    margin: auto;
    margin-top: 30px;
}
.slideshow .mySlides {
    display: none;
}
.slideshow .mySlides img{
    border-radius: 30px;
    height: 700px;
    object-fit: cover;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 17px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
.numbertext {
    color: #f2f2f2;
    font-size: 20px;
    padding: 20px 20px;
    position: absolute;
    top: 0;
}
.bulet {
    position: absolute;
    top: 84%;
    left: 48%;
}
.dot {
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin: 0 2px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .2}
    to {opacity: 1}
}


/* Menu */
.menu-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
}
.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    transform: translateY(-70px);
    text-align: center  ;
    background-color: #fff;
    width: 50%;
    height: 100px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 25px;
    padding: 20px;
}
.menu a {
    width: 90px;
    height: 90px;
    background: linear-gradient(180deg, rgba(216,28,129,1) 0%, rgba(255,0,99,1) 100%);
    border-radius: 15px;
    text-decoration: none;
    font-size: 23px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu .menu-icon img{
    margin-top: 10px;
    width: 50%;
}
.menu .menu-icon p {
    font-size: 17px;
    font-family: Intro;
}

/* About */
.about-wrapper {
    position: relative;
    max-width: 70%;
    margin: auto;
    margin-top: 30px;
}
.about {
    position: relative;
    height: 25vh;
    padding-bottom: 500px;
}
.about .keterangan {
    position: relative;
    width: 48%;
    float: left;
}
.about .keterangan .keterangan-body {
    margin-top: 40px;
}
.about .keterangan .keterangan-body .logo{
    position: absolute;
}
.about .keterangan .keterangan-body .logo svg{
    color: rgba(255,0,99,1);
}
.about .keterangan .keterangan-body .teks {
    margin-top: 10px;
    margin-left: 50px;
    margin-bottom: 25px;
}
.about .keterangan .keterangan-body .teks h1 {
    color: rgba(0, 0, 0, 0.8);
    font-family: Intro;
}
.about .keterangan .keterangan-body .teks p {
    color: rgba(0, 0, 0, 0.5);
    font-family: SanSerif;
    font-size: 20px;
}
.about .gallery {
    position: relative;
    width: 48%;
    float: right;
    display: grid;
    cursor: pointer;
}
.about .gallery .overlay {
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0,0.8);
    position: absolute;
    left: 92%;
    right: 0;
    z-index: -3;
}

.about .gallery .foto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .gallery .foto img {
    filter: opacity(70%);
}

.gallery img {
    width: 100%;
}

/* Produk */
.produk-req{
    position: relative;
    max-width: 70%;
    margin: auto;
    margin-top: 30px;
}
.produk{
    height: auto;
    padding-bottom: 20px;
}
.produk .title {
    display: flex;
    align-items: center;
}
.produk svg {
    position: absolute;
}
.produk h1 {
    margin-left: 40px;
}

/* .carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
} */

.produk .swiper {
    padding: 30px 30px;
}
.produk .card {
    position: relative;
    width: 100%;
    height: 455px;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 15px;
    transition: all 0.3s ease;
    margin: 0 20px;
    cursor: pointer;
    padding-bottom: 10px;
}

.produk .card .card-header img {
    height: 220px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.produk .card .teks {
    margin-left: 15px;
}
.produk .card .teks .diskon {
    display: flex;
    align-items: center;
}
.produk .card .teks .diskon .badge{
    background-color: #F5B7B1;
    padding: 5px 6px;
    border-radius: 7px;
    font-weight: bold;
    color: #A93226;
    margin-right: 6px;
    margin-top: -5px;
    text-decoration: unset !important;
}
.produk .card .teks .CB .badge {
    background-color: #82E0AA ;
    padding: 6px 7px;
    border-radius: 7px;
    font-weight: bold;
    color: #1E8449;
    margin-top: -5px;
}
.produk .card .teks .diskon span {
    color: rgba(100, 100, 111, 0.8);
    font-size: 18px;
    text-decoration: line-through;
}
.produk .card .teks h3 {
    margin-top: 10px;
    color: rgb(46, 42, 42);
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 22px;
}
.produk .card .teks .kota,.ratting {
    display: flex;
    align-items: center;
    margin: 8px 0;
    color: rgba(100, 100, 111, 0.8);
}
.produk .card .teks .kota svg {
    color:  #6C3483;
}
.produk .card .teks .kota p {
    margin-left: 25px;
}
.produk .card .teks .ratting p {
    margin-left: 25px;
}
.produk .card .teks .ratting svg{
    color: #F1C40F;
}

.produk .card .teks .tenggat {
    color: rgba(100, 100, 111, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -15px;
}

/* Responsive */
@media screen and (max-width: 915px) {
    .home .judul p {
        width: 50%;
        margin-left: 25%;
        margin-top: 10px;
    }
}

@media screen and (max-width: 360px) {
}