@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
}
@font-face {
    font-family: Intro;
    src: url(./font/Intro/Non-commercial/Normal/Intro/OTF/Intro-Trial-BdAlt.otf);
}
@font-face {
    font-family: SanSerif;
    src: url(./font/SansSerifFLF-Demibold.otf);
}
@font-face {
    font-family: Sanflf;
    src: url(../font/SansSerifFLF.otf);
}
body {
    font-family: 'Poppins', sans-serif;
}

/* Home */
.home {
    padding: 20px;
    height: auto;
    background: linear-gradient(180deg, rgba(216,28,129,1) 0%, rgba(255,0,99,1) 100%);
}

.home .hero{
    margin-left: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home .logo .logoBg {
    background-color: #fff;
    height: 140px;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.home .logo img {
    height: 110px;
}

.home .judul {
    color: #fff;
    margin-left: 12px;
}
.home .judul p {
    width: 54%;
    margin-top: 5px;
    color: rgba(255, 255, 255,0.8);
}
.home .tombol {
    margin-top: 20px;
    padding-bottom: 20px;
}
.home .tombol .tambah{
    height: 40px;
    width: 180px;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    color: rgb(75, 73, 73);
    font-weight: bold;
    margin-right: 5px;
    cursor: pointer;
}

/* Sidebar */
.sidebar {
    position: absolute;
    left: 8%;
    margin-top: 45px;
}
.sidebar .menu {
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.1) 1.95px 1.95px 10px;
    border-radius: 20px;
    padding: 20px;
}
.sidebar .menu a .menu-icon{
    background: linear-gradient(180deg, rgba(216,28,129,1) 0%, rgba(255,0,99,1) 100%);
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-top: 15px;
}

.sidebar .menu a .menu-icon:hover {
    background: linear-gradient(30deg, rgba(45,25,62,1) 0%, rgba(95,53,130,1) 100%);
    transition: .8s;
}
.sidebar .menu a .active{
    background: linear-gradient(30deg, rgba(45,25,62,1) 0%, rgba(95,53,130,1) 100%);
}

.sidebar .menu a .menu-icon img {
    width: 42px;
}
 

/* Sub Menu */
.poster {
    position: relative;
    max-width: 70%;
    margin: auto;
    margin-top: 10px;
}
.poster .link {
    display: flex;
    align-items: center;
}
.poster .link a {
    font-size: 21px;
    text-decoration: none;
    color: #808080;
}
.poster .link a:hover{
    color: #000;
}
.poster .link img {
    margin: 0 5px;
}
.poster .banner {
    display: flex;
    justify-content: center;
    align-items: center;
}
.poster .banner img{
    height: 200px;
    width: 100%;
}
.poster .banner h1 {
    position: absolute;
    color: #fff;
    font-size: 70px;
    font-weight: bold;
}

/* Produk */
.produk-req{
    position: relative;
    max-width: 70%;
    margin: auto;
    margin-top: 30px;
}
.produk{
    height: auto;
    padding-bottom: 20px;
}
.produk .title {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.produk svg {
    position: absolute;
    margin-top: -3px;
    color: #666;
}
.produk h1 {
    margin-left: 35px;
    color: #666;
    font-family: Intro;
}

.produk .swiper {
    padding-bottom: 20px;
    border-radius: 15px;
}
.produk .card {
    position: relative;
    width: 100%;
    height: 455px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 1.95px 1.95px 10px;
    transition: all 0.3s ease;
    margin: 0 20px;
    cursor: pointer;
    padding-bottom: 10px;
}

.produk .card .card-header img {
    height: 220px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.produk .card .teks {
    margin-left: 15px;
}
.produk .card .teks .diskon {
    display: flex;
    align-items: center;
}
.produk .card .teks .diskon .badge{
    background-color: #F5B7B1;
    padding: 5px 6px;
    border-radius: 7px;
    font-weight: bold;
    color: #A93226;
    margin-right: 6px;
    margin-top: -5px;
    text-decoration: unset !important;
}
.produk .card .teks .CB .badge {
    background-color: rgba(249, 0, 191,0.65);
    padding: 4px 7px;
    border-radius: 7px;
    font-weight: bold;
    color: #fff;
    margin-top: -5px;
}
.produk .card .teks .diskon span {
    color: rgba(100, 100, 111, 0.8);
    font-size: 18px;
    text-decoration: line-through;
}
.produk .card .teks h4{
    font-weight: normal;
    font-size: 20px;
    padding-right: 2px;
    color: #4d4d4d;
}
.produk .card .teks h3 {
    color: #4d4d4d;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 22px;
}
.produk .card .teks .kota,.ratting {
    display: flex;
    align-items: center;
    margin: 8px 0;
    color: rgba(100, 100, 111, 0.8);
}
.produk .card .teks .kota svg {
    color:  #6C3483;
}
.produk .card .teks .kota p {
    margin-left: 25px;
}
.produk .card .teks .ratting p {
    margin-left: 25px;
}
.produk .card .teks .ratting svg{
    color: #F1C40F;
}

.produk .card .teks .tenggat {
    color: rgba(100, 100, 111, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -15px;
}