@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
}
@font-face {
    font-family: Intro;
    src: url(../font/Intro/Non-commercial/Normal/Intro/OTF/Intro-Trial-BdAlt.otf);
}
@font-face {
    font-family: SanSerif;
    src: url(../font/SansSerifFLF-Demibold.otf);
}
@font-face {
    font-family: Sanflf;
    src: url(../font/SansSerifFLF.otf);
}
body {
    font-family: 'Poppins', sans-serif;
}

.back{
    display: none;
}
.menyu{
    display: none;
}
.dropdown-content{
    display: none;
}

/* Home */
.home {
    padding: 20px;
    height: auto;
    background: linear-gradient(180deg, rgba(216,28,129,1) 0%, rgba(255,0,99,1) 100%);
}
.home .hero{
    margin-left: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home .logo .logoBg {
    background-color: #fff;
    height: 140px;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.home .logo img {
    height: 110px;
}

.home .judul {
    color: #fff;
    margin-left: 12px;
}
.home .judul p {
    width: 54%;
    margin-top: 5px;
    color: rgba(255, 255, 255,0.8);
}
.home .tombol {
    margin-top: 20px;
    padding-bottom: 20px;
}
.home .tombol .tambah{
    height: 40px;
    width: 180px;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    color: rgb(75, 73, 73);
    font-weight: bold;
    margin-right: 5px;
    cursor: pointer;
}
/* Header punya si FAQ */
.home .hero1{
    display: flex;
    align-items: center;
    color: #fff;
    margin-left: 100px;
}
.home .hero1 .logo .logoBg{
    background-color: #fff;
    height: 110px;
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.home .hero1 .logo .logoBg img {
    height: 90px;
}
.home .hero1 .judul1{
    margin-left: 12px;
}

/* Sidebar */
.sidebar {
    position: absolute;
    left: 8%;
    margin-top: 45px;
}
.sidebar .menu {
    box-shadow: rgba(0, 0, 0, 0.1) 1.95px 1.95px 10px;
    border-radius: 20px;
    padding: 20px;
}
.sidebar .menu a .menu-icon{
    background: linear-gradient(180deg, rgba(216,28,129,1) 0%, rgba(255,0,99,1) 100%);
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-top: 15px;
}

.sidebar .menu a .menu-icon:hover {
    background: linear-gradient(30deg, rgba(45,25,62,1) 0%, rgba(95,53,130,1) 100%);
    transition: .8s;
}
.sidebar .menu a .active{
    background: linear-gradient(30deg, rgba(45,25,62,1) 0%, rgba(95,53,130,1) 100%);
}

.sidebar .menu a .menu-icon img {
    width: 38px;
}
 

/* Sub Menu */
.poster {
    position: relative;
    max-width: 70%;
    margin: auto;
    margin-top: 10px;
}
.poster .link {
    display: flex;
    align-items: center;
}
.poster .link a {
    font-size: 21px;
    text-decoration: none;
    color: #808080;
}
.poster .link a:hover{
    color: #000;
}
.poster .link img {
    margin: 0 5px;
}
.poster .banner {
    display: flex;
    justify-content: center;
    align-items: center;
}
.poster .banner img{
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.poster .banner h1 {
    position: absolute;
    color: #fff;
    font-size: 70px;
    font-weight: bold;
}

/* Produk */
.produk-req{
    position: relative;
    max-width: 70%;
    margin: auto;
    margin-top: 30px;
}
.produk{
    height: auto;
    padding-bottom: 20px;
}
.produk .title {
    display: flex;
    align-items: center;
}
.produk svg {
    position: absolute;
    margin-top: -3px;
    color: #666;
}
.produk h1 {
    margin-left: 35px;
    color: #666;
    font-family: Intro;
}

.produk .swiper {
    padding-bottom: 20px;
    border-radius: 15px;
    margin-top: 10px;
    width: 100%;
    height: 455px;
}
.swiper .swiper-wrapper .swiper-slide a{
    text-decoration: none;
}
.swiper .swiper-wrapper .swiper-slide {
    position: relative;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 1.95px 1.95px 10px;
    transition: all 0.3s ease;
    cursor: pointer;
    padding-bottom: 10px;
}

.produk .card .card-header img {
    height: 220px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.produk .card .teks {
    margin-left: 15px;
}
.produk .card .teks .diskon {
    display: flex;
    align-items: center;
}
.produk .card .teks .diskon .badge{
    background-color: #F5B7B1;
    padding: 5px 6px;
    border-radius: 7px;
    font-weight: bold;
    color: #A93226;
    margin-right: 6px;
    margin-top: -5px;
    text-decoration: unset !important;
}
.produk .card .teks .CB .badge {
    background-color: rgba(249, 0, 191,0.65);
    padding: 4px 7px;
    border-radius: 7px;
    font-weight: bold;
    color: #fff;
    margin-top: -5px;
}
.produk .card .teks .CB span {
    color: rgba(100, 100, 111, 0.8);
    font-size: 18px;
}
.produk .card .teks h4{
    font-weight: normal;
    font-size: 20px;
    padding-right: 2px;
    color: #4d4d4d;
}
.produk .card .teks h3 {
    color: #4d4d4d;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 22px;
}
.produk .card .teks .kota,.ratting {
    display: flex;
    align-items: center;
    margin: 8px 0;
    color: rgba(100, 100, 111, 0.8);
}
.produk .card .teks .kota svg {
    color:  #6C3483;
}
.produk .card .teks .kota p {
    margin-left: 25px;
}
.produk .card .teks .ratting p {
    margin-left: 25px;
}
.produk .card .teks .ratting svg{
    color: #F1C40F;
}

.produk .card .teks .tenggat {
    color: rgba(100, 100, 111, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -15px;
    position: relative;
    bottom: 0;
}

/* FAQ */
.accordion {
    background-color: #ffee5a;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    transition: 0.4s;
    margin-top: 10px;
    border-radius: 10px;
}

.active {
    background-color: #ffee5a;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transition: 0s;
}

.panel {
    padding: 0 18px;
    background-color: #ffee5a;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


/* responsive */
@media screen and (max-width: 500px){

    .container{
        overflow-x: hidden;
    }
    .back{
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background-color: #fff;
        position: absolute;
        border: none;
        margin-top: 25px;
        margin-left: 15px;
        border-radius: 5px;
        text-decoration: none;
        z-index: 8;
    }
    .menyu{
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background-color: #fff;
        position: absolute;
        border: none;
        margin-top: 25px;
        z-index: 10;
        border-radius: 5px;
        right: 0;
        margin-right: 15px;
    }
    .dropdown-content{
        display: none;
        position: absolute;
        background: linear-gradient(180deg, rgba(216,28,129,1) 0%, rgba(255,0,99,1) 100%);
        min-width: 100%;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 9;
        border-bottom-left-radius: 10%;
        border-bottom-right-radius: 10%;
        z-index: 9;
    }
    .dropdown-content a{
        display: block;
        text-decoration: none;
        color: #fff;
    }
    .dropdown-content a .menu-icon{
        display: flex;
        margin-top: 10px;
        margin-left: 30%;
        padding: 10px;
        border-radius: 15px;
    }
    .dropdown-content a .menu-icon:hover{
        background: linear-gradient(30deg, rgba(45,25,62,1) 0%, rgba(95,53,130,1) 100%);
        width: 40%;
    }
    .dropdown-content a .menu-icon img{
        width: 40px;
    }
    .dropdown-content a .menu-icon p{
        margin-left: 5px;
        font-size: 20px;
    }
    .show{
        display: block;
    }
    .dropdown-content a .active{
        background: linear-gradient(30deg, rgba(45,25,62,1) 0%, rgba(95,53,130,1) 100%);
        width: 40%;
    }
    .poster .link{
        display: none;
    }
    .poster .banner{
        margin-top: 20px;
    }
    .end{
        margin-bottom: 20px;
    }

    /* Home */
    .home .hero{
        margin-left: 0;
    }
    .home .hero1{
        margin-left: 23%;
    }
    .home .hero .logo .logoBg{
        height: 60px;
        width: 60px;
    }
    .home .hero1 .logo .logoBg{
        height: 60px;
        width: 60px;
    }
    .home .hero .logo .logoBg img{
        height: 50px;
    }
    .home .hero1 .logo .logoBg img{
        height: 50px;
    }
    .home .hero .judul h1{
        font-size: 25px;
    } 
    .home .hero1 .judul1 h1{
        font-size: 25px;
    } 

    .home .hero .judul p, .tombol{
        display: none;
    }
    .home .hero1 .judul1 p{
        display: none;
    }
    
    .sidebar{
        display: none;
    }

    .poster {
        max-width: 90%;
    }
    .poster .banner img{
        width: 100%;
        object-fit: cover;
        border-radius: 15px;
    }

    /* Produk */
    .produk-req{
        max-width: 90%;
    }

}