@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


* {
    margin: 0;
}
@font-face {
    font-family: Intro; 
    src: url(./font\Intro\Non-commercial\Normal\Intro\OTF);
}
@font-face {
    font-family: harga;
    src: url(./font/SansSerifFLF-Demibold.otf);
}
@font-face {
    font-family: Sanflf;
    src: url(../font/SansSerifFLF.otf);
}
@font-face {
    font-family: Sanreguler;
    src: url(../font/SansSerifBookFLF.otf);
}

body {
    font-family: 'Poppins', sans-serif;
}

.back{
    display: none;
}
.menyu{
    display: none;
}
.dropdown-content{
    display: none;
}

/* Home */
.home {
    padding: 20px;
    height: auto;
    background: linear-gradient(180deg, rgba(216,28,129,1) 0%, rgba(255,0,99,1) 100%);
}

.home .hero{
    padding-left: 100px;
    display: flex;
    align-items: center;
}
.home .logo .logoBg {
    background-color: #fff;
    height: 110px;
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.home .logo img {
    height: 90px;
}

.home .judul {
    color: #fff;
    margin-left: 12px;
}
.home .judul p {
    width: 54%;
    margin-top: 5px;
    color: rgba(255, 255, 255,0.8);
}

/* Produk */
.produk {
    padding: 0 40px;
}
.produk .produk-wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin: 20px 100px;

}
.produk .produk-wrapper .fotoProduk{
    width: 500px;
}
.produk .produk-wrapper .fotoProduk .link{
    display: flex;
    align-items: center;
}
.produk .produk-wrapper .fotoProduk .link a{
    text-decoration: none;
    font-size: 25px;
    color: rgba(0, 0, 0,0.8);
}
.produk .produk-wrapper .fotoProduk .link a:hover{
    color: rgb(0, 0, 0);
}
.produk .produk-wrapper .fotoProduk .link svg{
    margin: 0 8px;
}
.produk .produk-wrapper .fotoProduk .slides{
    display: none;
}
.cursor{
    cursor: pointer;
}
.row::after{
    content: "";
    display: table;
    clear: both;
}
.column{
    float: left;
    width: 50%;
}
.demo{
    opacity: 0.6;
}
.active,
.demo:hover {
  opacity: 1;
}

.produk .produk-wrapper .fotoProduk .slides img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}
.row .column img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}
.produk .produk-wrapper .detailProduk{
    padding-left: 30px;
    width: 70%;
    margin-top: 30px;
}
.produk .produk-wrapper .detailProduk h4{
    font-size: 30px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
}
.produk .produk-wrapper .detailProduk p{
    color: #6d6d6d;
}
.produk .produk-wrapper .detailProduk .price{
    margin-top: 20px;
}
.produk .produk-wrapper .detailProduk .price h1{
    font-size: 46px;
    font-weight: bold;
    color: rgb(77, 76, 76);
}
.produk .produk-wrapper .detailProduk .price .CB .badge{
    background-color: rgba(249, 0, 191,0.65);
    padding: 4px 7px;
    border-radius: 7px;
    font-weight: bold;
    color: #fff;
    margin-top: -5px;
}
.produk .produk-wrapper .detailProduk .price .CB span{
    font-size: 20px;
    color: #6d6d6d;
}
.produk .produk-wrapper .detailProduk .detail{
    margin-top: 20px;
    font-size: 20px;
}
.produk .produk-wrapper .detailProduk .detail .active{
    color: rgba(216,28,129,1);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 10px;
    width: 98%;
}
.produk .produk-wrapper .detailProduk .detail .active h3{
    border-bottom: 3px solid rgba(216,28,129,1);
    width: 104px;
    padding-left: 25px;
    margin-bottom: 0;
}
.produk .produk-wrapper .detailProduk .detail p a{
    text-decoration: none;
    color: rgba(216,28,129,1);
    font-weight: bold;
}
.produk .produk-wrapper .detailProduk .detail .kategori{
    margin-top: 20px;
}
.produk .produk-wrapper .detailProduk .detail .deskripsi{
    margin-top: 20px;
}
.checkout{
    border: 0.2px solid rgba(0, 0, 0, 0.1);
    width: 350px;
    padding: 20px;
    height: 400px;
    border-radius: 10px;
    margin-top: 30px;
}
.checkout h5{
    font-size: 21px;
    color: rgba(0, 0, 0, 0.8);
}
.pilihJumlah {
    margin-top: 25px;
    height: 30px;
    display: flex;
    align-items: center;
}
.pilihJumlah .pilih{
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 140px;
    position: relative;
}
.pilihJumlah .pilih button{
    background-color: transparent;
    border: none;
    z-index: 2;
    cursor: pointer;
}
.pilihJumlah .pilih input{
    text-align: center;
    width: 25px;
    padding: 10px;
    z-index: 1;
    font-size: 20px;
}
.pilihJumlah .sisa{
    margin-left: 10px;
    font-size: 18px;
}
.checkout .total {
    margin-top: 80px;
}
.checkout .total .totalHarga {
    display: flex;
    justify-content: space-between;
}
.checkout .total .totalHarga p{
    margin-top: 30px;
    font-size: 18px;
    color: #6d6d6d;
}
.checkout .total .totalHarga .price .new span{
    float: right;
    text-decoration: line-through;
}
.checkout .total .totalHarga .price h2{
    margin-bottom: 10px;
}
.checkout .keranjang{
    height: 50px;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: rgba(255,0,99,0.9);
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}
.checkout .keranjang:hover{
    background-color: rgba(255,0,99,1);
}
.checkout .beli{
    cursor: pointer;
    display: flex;
    margin-top: 10px;
    height: 30px;
    width: 92%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid rgba(255,0,99,0.9);
    border-radius: 10px;    
    background-color: transparent;      
    font-size: 18px;
    font-weight: bold;
    color: rgba(255,0,99,0.9);
}
.checkout a{
    text-decoration: none;
}
.checkout .media{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.checkout .media a{
    text-decoration: none;
    font-size: 17px;
    color: rgba(0, 0, 0,0.8);
    font-weight: bold;
    display: flex;
    align-items: center;
}
.checkout .media a:hover{
    color: rgba(0, 0, 0,1);
}
.checkout .media img {
    margin-right: 10px;
}
.checkout .media .wishlist{
    margin: 0 15px;
    padding: 0 15px;
    border-left: 1px solid rgba(0, 0, 0,0.8);
    border-right: 1px solid rgba(0, 0, 0,0.8);
}


/* responsive */

@media screen and (max-width: 500px){

    .container{
        overflow-x: hidden;
    }
    .back{
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background-color: #fff;
        position: absolute;
        border: none;
        margin-top: 25px;
        margin-left: 15px;
        border-radius: 5px;
        text-decoration: none;
        z-index: 10;
    }
    .menyu{
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background-color: #fff;
        position: absolute;
        border: none;
        margin-top: 25px;
        z-index: 10;
        border-radius: 5px;
        right: 0;
        margin-right: 15px;
    }
    .dropdown-content{
        display: none;
        position: absolute;
        background: linear-gradient(180deg, rgba(216,28,129,1) 0%, rgba(255,0,99,1) 100%);
        min-width: 100%;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 9;
        border-bottom-left-radius: 10%;
        border-bottom-right-radius: 10%;
    }
    .dropdown-content a{
        display: block;
        text-decoration: none;
        color: #fff;
    }
    .dropdown-content a .menu-icon{
        display: flex;
        margin-top: 20px;
        margin-left: 35%;
    }
    .dropdown-content a .menu-icon img{
        width: 40px;
    }
    .dropdown-content a .menu-icon p{
        margin-left: 5px;
        font-size: 20px;
    }
    .show{
        display: block;
    }

    .home{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 18px;
    }
    .home .hero{
        margin-left: -100px;
    }
    .home .hero .logo .logoBg{
        width: 60px;
        height: 60px;
    }
    .home .hero .logo .logoBg img{
        height: 50px;
    }
    .home .hero .judul p{
        display: none;
    }
    .home .hero .judul h1{
        font-size: 25px;
    }
    .produk .produk-wrapper .fotoProduk .link{
        display: none;
    }

    /* Detile */
    .produk {
        margin-left: -120px;
    }
    .produk .produk-wrapper{
        display: block;
        justify-content: start;
    }
    .produk .produk-wrapper .fotoProduk{
        position: relative;
        width: 350px;

    }
    .produk .produk-wrapper .fotoProduk .slides img{
        height: 300px;
    }
    .produk .produk-wrapper .fotoProduk .row .ya img{
        width: 95%;
        height: 100px;
        margin-left: 5px;
    }
    .produk .produk-wrapper .fotoProduk .row .no img{
        margin-left: 5px;
        width: 95%;
        height: 100px;
    }
    .produk .produk-wrapper .detailProduk{
        margin-left: -23px;
    }
    .produk .produk-wrapper .detailProduk h4{
        width: 400px;
    }
    .produk .produk-wrapper .detailProduk p{
        width: 340px;
    }
    .produk .produk-wrapper .detailProduk .price h1{
        font-size: 28px;
    }
    .produk .produk-wrapper .detailProduk .price .CB .badge{
        font-size: 12px;
    }
    .produk .produk-wrapper .detailProduk .detail .active{
        width: 340px;
    }
    .checkout{
        width: 310px;
    }

}







